*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 341px;
  top: 39px;
  width: 385px;
  height: 77px;
	animation: slideInUp 0.5s;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 897px;
  top: 44px;
  width: 140px;
  height: 60px;
	animation: rotateInUpRight 0.5s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	transform-origin: right;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 31px;
  top: 145px;
  width: 396px;
  height: 567px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 426px;
  top: 145px;
  width: 252px;
  height: 170px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 429px;
  top: 314px;
  width: 255px;
  height: 176px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 424px;
  top: 489px;
  width: 270px;
  height: 223px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 595px;
  top: 271px;
  width: 123px;
  height: 470px;
	animation: zoomIn 0.5s;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	transform-origin: bottom;
	z-index: 15;
}

.s9 {
	position: absolute;
  left: 695px;
  top: 247px;
  width: 356px;
  height: 122px;
	animation: fadeInRight 0.5s;
	animation-delay: 2.7s;
	animation-fill-mode: both;
	z-index: 5;
}

.s10 {
  position: absolute;
  left: 694px;
  top: 382px;
  width: 355px;
  height: 190px;
	animation: fadeInRight 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes slideInDownBig {
  from {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-120%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}