*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1;
}

.home {
	position: absolute;
  left: 936px;
  top: 0px;
  width: 144px;
  height: 181px;
	z-index: 25;
}

.study1 {
	position: absolute;
  left: 269px;
  top: 615px;
  width: 139px;
  height: 81px;
	z-index: 25;
}

.study2 {
	position: absolute;
  left: 434px;
  top: 615px;
  width: 139px;
  height: 81px;
	z-index: 25;
}